fastapi
uvicorn
celery
redis
titiler.core
boto3
torch
transformers
peft
bitsandbytes
python-multipart
SQLAlchemy>=2.0.0
GeoAlchemy2
asyncpg
psycopg2-binary
shapely
geopandas
google-genai
pgvector
pydantic-settings
pypdf
onnxruntime
rasterio
python-dotenv
